* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.spinner {
  display: inline-block;
  width:30px;
  height:30px;
  margin:0 auto;
  padding:15px;
  border-radius:50%;
  border: 3px solid rgba(255,255,255,.3);
  border-top: 2px solid transparent;
  border-left: 2px solid black;
  border-right: 2px solid black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.container {
  display: flex;
  flex-wrap:wrap;
  position: relative;
  width:100%;
  margin: 0 auto;
  max-width: 1270px
}

h1,h2,h3,h4,h5,h6 {
  flex: 1 0 100%;
}

.tempItem {
  flex: 0 1 100%;
  padding: 15px
}

.tempItem--hot {
  border-top: solid red 2px;
  flex: 0 1 50%;
}

.tempItem--cold {
  border-top: solid blue 2px;
  flex: 0 1 50%;
}

.footer {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  padding:15px;
}
